<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Aimar Sánchez</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                <a class="nav-link" href="#">Lista de personas</a>
                <a class="nav-link" href="#">Añadir nueva persona</a>
            </div>
        </div>
    </div>
</nav>