<div class="container-fluid mt-3">
    <div class="row text-center">
        <h3 class="header">LISTADO DE LAS 10 PRIMERAS PERSONAS ORDENADAS POR NOMBRE CON 21 O MAS AÑOS</h3>
    </div>
</div>
<div class="container mt-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha de Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
</div>